a.Button:hover, a.Button.highlighted {
	cursor: default;
	color: white;
	background-color: #555;
}

body.Windows a.Button:hover, body.Windows a.Button.highlighted {
	background-color: rgb(64, 129, 244);
}

body.Ubuntu a.Button:hover, body.Windows a.Button.highlighted {
	background-color: #E36C43;
}

a.Button:hover span a.Button.highlighted span{
	transition: 0s;
}
 
a.Button.fadeOut, a.Button.fadeOut:hover {
	height: 0px;
	line-height: 0px;
	min-height: 0px;
	opacity: 0
}

a.Button:link, a.Button:visited {
	text-decoration: none;
}


