.Layer {
	position: fixed;
	background: white;
	top: 0px;
	left: 120%;
	bottom: 30px;
	transition: 0.3s;
	width: 100%;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
	overflow: auto;
}

.Layer.visible {
	left: 0%;	
}

.MultiButton {
	position: fixed;
	bottom: 0px;
	background: white;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}

.MultiButton .Input {
	display: table-cell;
	width: 100%;
	border: none;
}

.Input input {
	width: inherit;
	display: block;
}

.Timer {
	background: #555;
	color: white;
	position: absolute;
	right: 3px;
	top: 3px;
	font-style: normal;
	line-height: 7pt;
	padding: 3px 6px;
	font-size: 8pt;
	border-radius: 3px;
	border: white 1px solid;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

.hidden {
	display: none;
}
